body {
  margin: 0;
  background-color: #2b2b2b;
  color: white;
  /* this list is copypasted straight from bootstrap kek */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
}

.title {
  margin: 0;
  background-color: #383838;
  text-align: center;
  padding: 15px;
}

.header {
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding-top: 20px;
}

div#snapshot-toggle {
    display: inline;
    position: absolute;
    right: 1em;
}

a {
  text-decoration: none;
  color: #99b8ff;
}

a:hover {
  text-decoration: underline;
}

h1.group a:hover {
  text-decoration: none;
}

h1.group {
  font-size: 30px;
  width: 90%;
  padding-bottom: 2px;
  border-bottom: 2px solid #aaaaaa;
}

#listContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px;
}

#listContainer > div {
  width: 300px;
  background-color: #383838;
  border-radius: 5px;
  margin: 20px 10px;
}

details > summary {
  list-style: none;
  margin-left: 2em;
}

details:not([open]) > summary .toggle-open {
    display: none;
}

details[open] > summary .toggle-closed {
    display: none;
}

